.add{
    background-color: #4696E5;
    color: white;
    margin-top: 100px;
    margin-left: 362px;;
    width: 628px;
    height: 187px;
  }
  .title{
    text-align: end;
    margin-right: 50px;
  }
  form{
  display: flex
  }
  .button{
  display: flex;
  justify-content: flex-end;
  padding-top: 13px;
  
  }
  .button button{
    background-color: transparent;
    color: white;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
  }
  .input input{
    width: 562px;
      height: 29px;
      border-radius: 10px;
      margin: 0 20px;
      color: #4696E5; 
  }
  ::placeholder{
    padding-left: 10px;
    color: #4696E5;
  }
  .list{
    color: #838383;
    text-align: center;
  }
  .list h3 {
    margin-top: 33px;
    font-size: 30px;
  }
  .button-list{
    display: flex;
    justify-content: center;
  }
  .button-list button{
    margin-top: 38px;
      margin-right: 20px;
      background-color: transparent;
      width: 85px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px
  }
  .completed {
    text-decoration: line-through;
  }
